/*
* @Author: macnookpro
* @Date:   2019-05-20 13:50:48
* @Last Modified by:   macnookpro
* @Last Modified time: 2019-05-20 13:52:50
*/
.nav{
	height: 30px;
	line-height: 30px;
	background-color: #f3f3f3;
}
.user-info{
	float: left;
}
.username{
	color: #666;
	margin-right: 10px;
}
.nav-list{
	float: right;
}
.nav-list .nav-item{
	float: left;
	margin-right: 10px;
}