/*
* @Author: macnookpro
* @Date:   2019-05-20 15:49:35
* @Last Modified by:   macnookpro
* @Last Modified time: 2019-05-20 15:53:31
*/
.logo-box{
	background-color: #fff;
	padding: 10px;
}
.logo-text{
	color: #f21;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}